<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>

        <customErrors mode="On" defaultRedirect="~/Error.aspx?" />
    </system.web>

    <connectionStrings>
        <!-- Local -->
        
        <!--
        <add name="dbConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|/Database.accdb;Persist Security Info=False"/>
        -->
        
        <!-- Server -->
        
        <add name="dbConnStr" connectionString="Provider=sqloledb; Data Source=SchedulerHD.db.11292016.hostedresource.com; Initial Catalog=SchedulerHD; User ID=SchedulerHD; Password='asdf123#B';Persist Security Info=False"/>
        <add name="sqlConnStr" connectionString="Data Source=SchedulerHD.db.11292016.hostedresource.com; Initial Catalog=SchedulerHD; User ID=SchedulerHD; Password='asdf123#B';Persist Security Info=False"/>
        
    </connectionStrings>

    <appSettings>
        <add key="SiteURL" value="http://SchedulerHD.com"/>
    </appSettings>

    <!--
    INFORMATION TO KEEP
    Log Kind Values
    0  =  Error
    1  =  Account created
    2  =  User login
    3  =  Contact message sent
    4  =  Problem schedule entered

    DBCC CHECKIDENT (Log, RESEED, 5)
    Resets the ID of the Log table
    insert to be 6 next time
    -->
</configuration>